@model TravelDbProject.Models.Classes.Comments
@{
    ViewBag.Title = "CommentBring";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Update</h2>
<br />
@using (Html.BeginForm("CommentUpdate", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.UserName)
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Comment)
    @Html.TextAreaFor(x => x.Comment,10,1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Blog.BlogTittle)
    @Html.TextBoxFor(x => x.Blog.BlogTittle, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Yorum Güncelle</button>
}
